<div class="container">
  <h1>Todo App</h1>
  <div class="list-group">
    <a class="list-group-item" *ngFor="let item of ItemList" (click)="ItemCompleted(item)">
     <!-- checkbox için item true or false olması durumunda veritabanından çekerken tamamlanmış mı tamammlanmamış mı
      kontrol edilecek
     -->
      <input class="form-check-input " type="checkbox" ngControl="item" [(ngModel)]="item['Completed']">{{item.ItemName}}
    </a>
  </div>
  <div class="list-group">
    <a class="list-group-item"><input type="text" class="form-control" [(ngModel)]="Item.ItemName"></a>
    <a class="list-group-item"><button class="btn btn-success" (click)="AddItem()">Add Item</button></a>

  </div>
</div>

<!--
  yapılması istenenler
  ekleme katogori olacak
  miktar olacak
  öncelik sırası olabilir
  completed/uncompleted/ checkbox olarak kullanılırsın ya da
     css classı ile oynayarak üstü çizili,renkgi farklı gibi düzeltmeler yapabilirsin.Bunları nasıl yapacağını mronus göstermişti.
  Veritabanında kayıtlı listelerin olur.Bu listeleri bir sayfada seçersin sonrasında o list açılır.
      içindeki i-elemenalar tamamlanmış mı yapılmışmı görünür.
      alış veriş listem- (miktarı,nerden alınacağı)
      okumam gereken kitaplar,filmler (belki sonrasında beğendiklerim için bir işaretleme,favorileme olabilir)



-->